/* ======== Header styles ======================= */
/* Logo */
.logo {
  display: flex;
  padding: 24px 0;
  align-items: center;
  margin-right: 76px;
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  width: 1158px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header-nav {
}
.studio-header {
  color: var(--grey);
}
/* Navigation on pages */
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;
}
.nav-list-item {
  display: block;
  padding: 24px 0;
  position: relative;
  color: var(--grey);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}
.nav-list-item.link:hover,
.nav-list-item.link:focus,
.nav-list-item.link:active,
.nav-list-item.current {
  color: var(--ocean);
}

.nav-list-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-list-item.current::after {
  background-color: var(--ocean);
}
/* Address */
.address-list {
  display: flex;
  gap: 40px;
}
.address-list-item {
  transition: color var(--animation);
}
.contacts-link {
  display: block;
  padding: 24px 0;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color var(--animation);
}
.contacts-link.link:hover,
.contacts-link.link:focus {
  color: var(--ocean);
}
.contacts-link.link:active {
  color: var(--ocean);
}
/* ====================================== */
/* ==========Main section================ */
.main-section {
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* =========================== */
/* =====section-two===== */

/* ================================= */
/* =====section-three============ */

/* ================================= */
/* ======team-section=============== */

/* ================================= */
/* ======customers-section=============== */

/* ================================ */
/* =====Buttons====== */
.buttons-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons {
  font-family: inherit;
  background: var(--cloud);
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 21px;
  min-height: 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  padding: 12px 24px;
  transition: color var(--animation), background-color var(--animation),
    border-color var(--animation), box-shadow var(--animation);
}

.buttons:hover,
.buttons:focus {
  background: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.buttons:active {
  background: var(--ocean);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.buttons-section-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
/* ========================= */
/* ======Menu section======= */

.menu-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.menu-list-item {
  background: var(--white);
  width: calc((100% - 48px) / 3);
  transition: box-shadow var(--animation);
}
.card-link {
  display: block;
  border: 1px solid var(--cloud, #f4f4fd);
  transition: box-shadow var(--animation);
}
.card-link:hover,
.card-link:focus {
  border: none;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px 16px;
  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform var(--animation);
  letter-spacing: 0.02em;
  padding: 40px 32px;
}

.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translateY(0);
}
.menu-list-img {
  display: block;
}
.menu-div {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.menu-div .menu-title {
  color: var(--grey);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 8px;
}
.menu-div .menu-title-choice {
  color: var(--slate);
  font-weight: 400;
  letter-spacing: 0.02em;
  margin: 0;
  transition: transform var(--animation);
}
/* ================================ */
/* =====Footer styles============== */
.foot-fon {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--grey);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-text {
  margin-right: 120px;
}
.logo-footer {
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 76px;
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio-footer {
  color: var(--cloud);
}
.footer-text {
  max-width: 264px;
  margin: 0;
  color: var(--cloud);
  letter-spacing: 0.02em;
  padding: 0;
}
.social-media {
  margin-right: 80px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social-footer-item {
  transition: background-color var(--animation);
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  color: var(--cloud);
  transition: background-color var(--animation);
}

.social-text {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  padding: 0;
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--green);
}

/* =====footer form============== */
/.footer-button {
  margin-left: auto;
}
.footer-form-label {
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;

  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);

  outline: transparent;
  background-color: transparent;

  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: border-color var(--animation);
}
.footer-form-input:focus {
  border-color: var(--ocean);
}
.footer-form-input::placeholder {
  color: var(--white);
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  margin: 0 auto;

  border-radius: 4px;
  border: none;
  font-family: inherit;
  background: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);
}
.footer-btn-icon {
  fill: var(--white);
  margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus,
.footer-btn:active {
  background: var(--ocean);
  color: var(--white);
}

/* ================================ */
/* =====Modal window============== */
/.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--animation), visibility var(--animation);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition: transform var(--animation);
}
.modal-btn {
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--animation), border var(--animation);
}
.modal-btn-icon {
  transition: fill var(--animation);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--white);
  background-color: var(--ocean);
  border: none;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}

/* =====Modal form============== */
.modal-title {
  display: block;
  width: 360px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-align: center;
}

.modal-form {
}
.modal-form-item {
  margin-bottom: 8px;
}
.modal-form-part {
  margin-bottom: 16px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 18px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;

  transition: border-color var(--animation);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color var(--animation);
}
.modal-form-comment:focus {
  border-color: var(--iris);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--grey);
  transform: translateY(-50%);
  transition: fill var(--animation);
}
.modal-form-input:focus,
.modal-form-comment:focus,
.modal-form-input:hover,
.modal-form-comment:hover,
.modal-form-input:active,
.modal-form-comment:active {
  border-color: var(--iris);
}
.modal-form-input:focus + .modal-form-icon,
.modal-form-input:active + .modal-form-icon {
  fill: var(--iris);
}
.modal-form-input::placeholder {
  opacity: 0;
  color: var(--grey);
  transition: opacity var(--animation);
}
.modal-form-input:focus::placeholder {
  opacity: 1;
}
/* ======Agreement========== */
.modal-form-agree {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form-agreement {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: var(--lightslate);
  margin-left: 8px;
  display: block;
}

.agreement-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color var(--animation), border-color var(--animation),
    fill var(--animation);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.agreement-checkbox:focus,
.agreement-checkbox:hover {
  border-color: var(--ocean);
}

input[type='checkbox']:checked + .modal-form-agreement > .agreement-checkbox {
  background-color: var(--ocean);
  border-color: var(--ocean);
  fill: var(--cloud);
}
.agreement-checkbox-icon {
  fill: var(--cloud);
}

.modal-form-link {
  color: var(--iris);
}

.agree-btn {
  margin-top: 24px;
}
