/* ======== Header styles ======================= */
/* Logo */

/* ==========Main section================ */
.main-section {
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* =========================== */
/* =====section-two===== */

/* ================================= */
/* =====section-three============ */

/* ================================= */
/* ======team-section=============== */

/* ================================= */
/* ======customers-section=============== */

/* ================================ */
/* =====Buttons====== */

/* ========================= */
/* ======Menu section======= */

/* ================================ */
/* =====Footer styles============== */

.studio-footer {
}
.footer-text {
  max-width: 264px;
}
.social-media {
  margin-right: 80px;
}

.social-text {
  padding: 0;
}

/* =====footer form============== */

/* ================================ */
/* =====Modal window============== */

/*.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition: transform var(--animation);
}
.modal-btn {
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--animation), border var(--animation);
}
.modal-btn-icon {
  transition: fill var(--animation);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--white);
  background-color: var(--ocean);
  border: none;
}*/
